body{
    background-color: #f7f7f9;
}

@font-face {
    font-family: 'crosa';
    src: url(uau/Crusoe-Text-Regular/CrusoeText-Regular.ttf);
}

@font-face {
    font-family:'paytoneOne';
    src: url('uau/PaytoneOne.ttf');
}

#linha1{
    width: 65vw;
    background-color: #4051E1;
    height: 2px;
    margin-left: 50px;
    margin-top: 50px;
}
#linha2{
    width: 2px;
    height: 52vw;
    background-color: #4051E1;
    margin-left: 50px;
    margin-bottom: 5vw;
}
#claudia{
    top: 11%;
    left: 8%;
    position: absolute;
    color: #4051E1;
    font-size: 5vw;
    font-family:'paytoneOne';
}

img{
    width: 165px;
    height: 90px;
    position: absolute;
    top: 2%;
    left: -32px;
}

#temids{
    width: 1100px;
    height: auto;
    display: block;
    position: absolute;
    top: 26%;
    left: 8%;
}
.pips{
    color: #4051E1;
    font-size: 2vw;
    font-family: 'crosa';
}

#abelferreira{
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 19px;
}

a{
    color: #4051E1;
}

#vinho{
    color: #4051E1;
}

.grow:hover
{
        -xpedu-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
   
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
   
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }