:root{
    --azul:#4051E1;
   --branco-fundo:#F7F7F9;
   --vermelho:#FF3131;
   --amarelo:#FCAC3D;
   --azul-materia:#2E59A7;
   --cinza:#303033;
   --branco:#F7F7F9;
}

@font-face {
    font-family:'paytoneOne';
    src: url('uau/PaytoneOne.ttf');
}
* {
    margin: 0;
    padding: 0;
    background-color: #f7f7f9;
}
header{
    height: 700px;
}

#cont{
    text-align: center;
    margin: 0px;
    color: #FF3131;
    font-size: 100px;
    margin-left: 5vw;
    font-family:'paytoneOne'; 
    background-color: transparent;
}
.funaf h2{
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 30px;
    margin: 0;
    font-family:'paytoneOne';
}
.vid iframe{
    padding-left: 50px;
}


/*/parte da giulia/*/

nav{
    width: 100%;
    height: 70px;
    display: block;
    float: left;
  
    
}
#botaodropdow i{
  color: white;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 20px;
   
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */

   
  }
#botaodropdow{
  margin-top: 10px;
 
}
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 255, 255); 
    color: black;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 

  }
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
.myButton {
background-color:#44c767;
border-radius:28px;
border:1px solid #4be85a;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family: 'Cormorant Infant', serif;
font-size:17px;
padding:16px 31px;
text-decoration:none;
text-shadow:0px 1px 0px #74d465;
margin-top: 60px;
margin-left: 60px;
margin-bottom: 20px;
justify-content: center;

}

.myButton:hover {
background-color:#a2eb7b;

}

.myButton:active {
position:relative;
top:1px;
}

#meiocirculo {
    margin-left:50%;
    transform: translate(-50%, -50%);
    height: 205vh;
    width: 100%;
    border-radius: 0px 0px 43% 43%;
    background-color: #FF3131;
    margin-bottom: 0;
}
.titulo{
    z-index: 99999;
    position: absolute;
    top: 0%;
    background: transparent;
    margin-left: 24vw;
    margin-top: 15vh;
    font-size: 100px;
    color: #F7F7F9;
    font-family:'paytoneOne';
}
#comunista{
    position: absolute;
    top: 0%;
    background: transparent;
    width: 35vw;
    height: 35vh;
    margin-left: 31vw;
    margin-top: 50vh;
}
footer{
    background-color: #FF3131;
    width: 100%;
    height: 140vh;
}
#pg{
    text-align: center;
    font-size: 20px;
    background: transparent;
    color: #F7F7F9;
}
.canais{
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 240px;
    height: 240px;
    float: left;
    margin-left: 10vw;
    margin-bottom: 10vh;
}
.canalfoto{
    width: 240px;
    height: 240px;
    border-radius: 50%;
}
#titulofooter{
    text-align: center;
    font-size: 100px;
    background: transparent;
    color: #F7F7F9;
    font-family:'paytoneOne';
}