:root{
    --azul:#4051E1;
   --branco-fundo:#F7F7F9;
   --vermelho:#FF3131;
   --amarelo:#FCAC3D;
   --azul-materia:#2E59A7;
   --cinza:#303033;
   --branco:#F7F7F9;
}
.grow:hover
{
        -xpedu-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}






@font-face {
    font-family:'paytoneOne';
    src: url('uau/PaytoneOne.ttf');
}
* {
    margin: 0;
    padding: 0;
    background-color: #F7F7F9;

}
header{
    height: 50vw;
}

#cont{
    text-align: center;
    margin: 0%;
    color: #FF3131;
    font-size: 8vw;
    margin-left: 5vw;
    font-family:'paytoneOne'; 
    background-color: transparent;
    margin-bottom: 5vh;
    display: block;
    margin-right: 5vw;
}
.funaf h2{
    padding-left: 4vw;
    padding-bottom: 3vh;
    padding-top: 5vh;
    margin: 0;
    font-family:'paytoneOne';
}
.vid iframe{
    padding-left: 5vw;
    margin-left: 1.8vw;
}



/*/parte da giulia/*/

nav{
    width: 100%;
    height: 7vw;
    display: block;
    float: left;
  
    
}
#botaodropdow i{
  color: white;
}
.navbar a {
    float: left;
    font-size: 1.6vw;
    color: white;
    text-align: center;
    padding: 1.4vw 1.6vh;
    text-decoration: none;
  }

  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 2vw;
    display: block;
   
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 1.6vw;
    border: none;
    outline: none;
    color: white;
    padding: 1.4vh 1.6vw;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */

   
  }
#botaodropdow{
  margin-top: 1vh;
 
}
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 255, 255); 
    color: black;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    background-color: white;
    min-width: 16vw;
    box-shadow: 0% 0.8vw 1.6vw 0% rgba(0,0,0,0.2);
    z-index: 1; 

  }
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 1.2vw 1.6vw;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: red;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
.myButton {

border-radius:2.8vw;
border:1vw solid #4be85a;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family: 'Cormorant Infant', serif;
font-size:1.7vw;
padding:1.6vw 3.1vw;
text-decoration:none;
text-shadow:0% 1vw 0% #74d465;
margin-top: 6vw;
margin-left: 6vw;
margin-bottom: 2vw;
justify-content: center;

}

.myButton:hover {
background-color:#a2eb7b;

}

.myButton:active {
position:relative;
top:1vw;
}



footer{
    background-color: #FF3131;
    width: 100%;
    height: 140vh;
}
#pg{
    text-align: center;
    font-size: 1.5vw;
    background: transparent;
    color: #F7F7F9;
    margin-bottom: 5vh;
}
.canais{
    border-radius: 50%;
    float: left;
    margin-left: 10vw;
    margin-bottom: 10vh;
}
.canalfoto{
    width: 20vw;
    height: 40vh;
    border-radius: 50%;
}
#titulofooter{
    text-align: center;
    font-size: 9vw;
    background: transparent;
    color: #F7F7F9;
    font-family:'paytoneOne';
}
.titulo{
  z-index: 99999;
  position: absolute;
  top: 0%;
  background: transparent;
  margin-left: 18vw;
  margin-top: 5%;
  font-size: 10vw;
  color: #F7F7F9;
  font-family:'paytoneOne';
}
#comunista{
  background: transparent;
  position: absolute;
  top: 45%;
  width: 25vw;
  margin-left: 38%;
}
#meiocirculo {
  margin-left:50%;
  transform: translate(-50%, -50%);
  height:180%;
  width: 100%;
  border-radius: 0% 0% 43% 43%;
  background-color: #FF3131;
  margin-bottom: 0;    
}

@media only screen and (max-width: 2605px){
  
  .videos{
    width: 30vw;
    height: 30vh;
  }
  
.vid iframe{
  margin-left: 0.8vw;
}
  }
  
@media only screen and (max-width: 1116px) {
  
  #meiocirculo {
    top: 0!important;
  }
  .titulo{
    margin-top: 5%;
  }
  #comunista{
    top: 40%;
    width: 25vw;
    margin-left: 38%;
  }
  .videos{
    width: 30vw;
    height: 26vh;
  }
  
.vid iframe{
  margin-left: 0.8vw;
}
}
@media only screen and (max-width: 857px) {
  
  #meiocirculo {
    top: 0!important;
  }
  .titulo{
    margin-top: 5%;

  }
  #comunista{
    top: 30%;
    width: 25vw;
    margin-left: 38%;
  }
  
  .videos{
    width: 400;
    height: 125px;
  }
  
.vid iframe{
  margin-left: 0.8vw;
}

}

  @media only screen and (max-width: 627px){
  
    #meiocirculo {
      top: 0!important;
    }
    .titulo{
      margin-top: 5%;
    }
    #comunista{
      top: 20%;
      width: 25vw;
      margin-left: 38%;
    }
    
  
  .videos{
    width: 30vw;
    height: 15vh;
  }
  
.vid iframe{
  margin-left: 0.8vw;
}
  }
