/* cores*/ 
:root{
    --azul:#4051E1;
   --branco-fundo:#F7F7F9;
   --vermelho:#FF3131;
   --amarelo:#FCAC3D;
   --azul-materia:#2E59A7;
   --cinza:#303033;
   --branco:#F7F7F9;
}

*{
    padding: 0;
    margin: 0;
}

h1{
    font-family:'paytoneone';   

}

@font-face {
    font-family:'paytoneone';
    src: url('c:\Users\Aluno\Desktop\paytoneone\PaytoneOne.ttf');
}

header{
background-color: #4051E1;
height:10vh ;
width: 100%;
}

header h1{
    margin-left: 10vw;
}

main{
 background-color: #FCAC3D;
}

footer{
 background-color: #303033;
}