/* cores*/ 
:root{
    --azul:#4051E1;
   --branco-fundo:#F7F7F9;
   --vermelho:#FF3131;
   --amarelo:#FCAC3D;
   --azul-materia:#2E59A7;
   --cinza:#303033;
   --branco:#F7F7F9;
}

*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family:'paytoneOne';
    src: url('uau/PaytoneOne.ttf');
}

header{
background-color:var(--azul-materia);
height:12vh ;
width: 100%;
}

header img{
    float: left;
    height:10vh ;
    width:5vw ;
    margin-left: 2vh;
    margin-top: 1vh;
}

header h1{
    margin-top: 2vh;
    margin-left: 7vw;
    position: absolute;
    font-family:'paytoneOne';
}

main{
 background-color: var(--branco-fundo);
 width: 100%;
 height: 100vh;
}
 main img{
    width: 25vw;
    height: 40vh;
    float: right;
 }

 main p{
    margin-left: 5vh;

 }

main h1{
font-family:'paytoneOne'; 
color: var(--azul-materia);
margin-left: 5vh;
padding-top: 10vh;

}

footer{
 background-color: #303033;
}