/* cores*/ 
:root{
    --azul:#4051E1;
   --branco-fundo:#F7F7F9;
   --vermelho:#FF3131;
   --amarelo:#FCAC3D;
   --azul-materia:#2E59A7;
   --cinza:#303033;
   --branco:#F7F7F9;
}

*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family:'paytoneOne';
    src: url('uau/PaytoneOne.ttf');
}

header{
background-color:var(--azul-materia);
height:12vh ;
width: 100%;
}

header img{
    float: left;
    height:6vh ;
    width:5vw ;
    margin-left: 2vh;
    margin-top: 3.8vh;
}

header h1{
    margin-top: 2vh;
    margin-left: 7vw;
    position: absolute;
    font-family:'paytoneOne';
}

main{
 background-color: var(--branco-fundo);
 width: 100%;
 height: 300vh;
}
 main img{
    width: 30vw;
    height: 60vh;
    float: right;
   margin-top: 17vh;
   margin-right: 10vh;
 }

 main p{
    margin-left: 5vh;
    font-size: 4vh;
    display: block;

 }

main h1{
font-family:'paytoneOne'; 
color: var(--azul-materia);
margin-left: 5vh;
padding-top: 10vh;
font-size: 15vh;
display: block;

}



main h2{    
font-family:'paytoneOne'; 
color: var(--azul-materia);
font-size: 12vh;


}

main #a{
    padding: 3vw;
    height:70vh ;
    width: 40vw;
    position: absolute;
    font-family:'paytoneOne'; 
}
main #tiA{
    position: absolute;
    right: 0;
    float: right;
    margin-top: 13vw;
    margin-right: 21vh;

}
.texto{
    color: var(--branco);
    font-size: 7vh;
    font-weight: bold;
    padding-top: 30px;
    display: block;
    margin-left: 16px;
}

.primeiro{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #FF3131;
    display: block;
    float: left;
    margin-left: 10vh;
    

}

.textoa{
   color: var(--branco);
    font-size: 7vh;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 27px;
    display: block;
}

.segundo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--amarelo);
    display: block;
    float: left;
    margin-left: 5vh;
}

.textob{
    color: var(--branco);
     font-size: 7vh;
     font-weight: bold;
     padding-top: 30px;
     margin-left: 27px;
     display: block;
 }
 
 .terceiro{
     width: 120px;
     height: 120px;
     border-radius: 50%;
     background-color: var(--azul-materia); 
     display: block;
     float: left;
     margin-left: 5vh;
 }

 .textoc{
    color: var(--branco);
     font-size: 7vh;
     font-weight: bold;
     padding-top: 30px;
     margin-left: 27px;
     display: block;
 }
 
 .quarto{
     width: 120px;
     height: 120px;
     border-radius: 50%;
     background-color: var(--vermelho); 
     display: block;
     float: left;
     margin-left: 5vh;
 }

 #caixa{
    height:25vh ;
    width: 55vw;
    margin-left: 80vh;
    margin-top: 65vh;
    margin-bottom: 10%;
    display: block;

 }

 .card{
    box-shadow: 0 4px 8px 0 #dcdef0;
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 #dcdef0;
}

.info{
    padding: 2px 16px;
    padding-top: 60px;
    text-align: center;
}

.card{
    box-shadow: 0 4px 8px 0 #dcdef0;
    transition: 0.3s;
    border-radius: 5px;
  }

.will{
    width: 290px;
    height: 170px;
}
  .didi{
    position: relative;
    top: 60px;
    z-index: 99999;
    left: 230px;
  }

.card{
    width: 260px;
    height: 363px;
    margin-bottom: 30px;
    display: flex;
    position: relative;
    border-radius: 5%;
    float: left;
}

.myButton {
	background-color:#4050e1;
	border-radius:28px;
	border:1px solid #4050e1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'paytoneOne';
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4050e1;
    margin-top: 8px;
}
.myButton:hover {
	background-color:#f6b637;
}
.myButton:active {
	position:relative;
	top:1px;
}

.titulo{
    color: #4050e1;
    margin-top: 12px;
    font-weight: 800;
}

.box{
    width: 100px;
    height: auto;
    display: block;
    float: left;
    margin-left: 125px;
    margin-right: 150px;
}

#selecaodotite{
    color: #4050e1;
    font-size: 80px;
    position: absolute;
    left: 20%;
}

#abelferreira{
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 19px;
}

a{
    color: #4051E1;
}

#vinho{
    color: #4051E1;
}

footer{
    width: 100%;
    height: 75px;
    clear: both;
    background-color: var(--branco);
    position: absolute;
}

.eric{
    padding-right: 20px;
}

#caixa a{
    color: white;
}

@media only screen and (max-width: 600px) {

    :root{
        --azul:#4051E1;
       --branco-fundo:#F7F7F9;
       --vermelho:#FF3131;
       --amarelo:#FCAC3D;
       --azul-materia:#2E59A7;
       --cinza:#303033;
       --branco:#F7F7F9;
    }
    
    *{
        padding: 0;
        margin: 0;
    }
    header{
        background-color:var(--azul-materia);
        height:12vh ;
        width: 100%;
        }
        
        header img{
            float: left;
            height:6vh ;
            width:5vw ;
            margin-left: 2vh;
            margin-top: 3.8vh;
        }
        
        header h1{
            margin-top: 2vh;
            margin-left: 7vw;
            position: absolute;
            font-family:'paytoneOne';
        }
        
        main{
         background-color: var(--branco-fundo);
         width: 10vw;
         height: 30vh;
        }
         main img{
            width: 30vw;
            height: 60vh;
            float: right;
           margin-top: 17vh;
           margin-right: 10vh;
         }
        
         main p{
            margin-left: 5vh;
            font-size: 4vh;
            display: block;
        
         }
        
        main h1{
        font-family:'paytoneOne'; 
        color: var(--azul-materia);
        margin-left: 5vh;
        padding-top: 10vh;
        font-size: 15vh;
        display: block;
        
        }
        
        
        
        main h2{    
        font-family:'paytoneOne'; 
        color: var(--azul-materia);
        font-size: 12vh;
        
        
        }
        
        main #a{
            padding: 3vw;
            height:70vh ;
            width: 40vw;
            position: absolute;
            font-family:'paytoneOne'; 
        }
        main #tiA{
            position: absolute;
            right: 0;
            float: right;
            margin-top: 13vw;
            margin-right: 21vh;
        
        }
        .texto{
            color: var(--branco);
            font-size: 7vh;
            font-weight: bold;
            padding-top: 30px;
            display: block;
            margin-left: 16px;
        }
        
        .primeiro{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: #FF3131;
            display: block;
            float: left;
            margin-left: 10vh;
            
        
        }
        
        .textoa{
           color: var(--branco);
            font-size: 7vh;
            font-weight: bold;
            padding-top: 30px;
            margin-left: 27px;
            display: block;
        }
        
        .segundo{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: var(--amarelo);
            display: block;
            float: left;
            margin-left: 5vh;
        }
        
        .textob{
            color: var(--branco);
             font-size: 7vh;
             font-weight: bold;
             padding-top: 30px;
             margin-left: 27px;
             display: block;
         }
         
         .terceiro{
             width: 120px;
             height: 120px;
             border-radius: 50%;
             background-color: var(--azul-materia); 
             display: block;
             float: left;
             margin-left: 5vh;
         }
        
         .textoc{
            color: var(--branco);
             font-size: 7vh;
             font-weight: bold;
             padding-top: 30px;
             margin-left: 27px;
             display: block;
         }
         
         .quarto{
             width: 120px;
             height: 120px;
             border-radius: 50%;
             background-color: var(--vermelho); 
             display: block;
             float: left;
             margin-left: 5vh;
         }
    

    
}